# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Capacitor
android
ios
.capacitor

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.swp
*.swo
*~
.history

# OS
Thumbs.db

# Vite
.vite-inspect
dev-dist

# Size limit
.size-limit.json

# Playwright
test-results
playwright-report
